{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .tagcloud {
    
    background:#ececec;
    color:#444444;
    border: 1px solid #2489bb;
    text-align:center;
    display:inline-block;
    width:740px;
    height:250px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%) }
    
}

#tagcloud span {
    padding: 4px;
}
 
.smallest {
    font-size: 8px;
}
 
.small {
    font-size: 12px;
}
 
.medium {
    font-size:16px;
}
 
.large {
    font-size:20px;
}
 
.largest {
    font-size:24px;
}
</style>
<p>TAG CLOUD</p>
<div class="tagcloud">
{% for tag in data %}
   <span class={{ tag['class'] }}>{{ tag['title'] }}</span>
{% endfor %}
</div>

{% endblock %}
