{% extends 'base.html.twig' %}

{% block title %}English Words Overflow{% endblock %}

{% block body %}

    <main class="text-center">

        {{ form_start(searchForm, {'action': path('app_search'), 'method': 'GET'}) }}
            {{ form_widget(searchForm) }}
        <button type="submit" class="btn btn-primary">Search</button>
        {{ form_end(searchForm) }}
        <a href="{{ path('tag_cloud') }}" class="btn btn-primary btn-lg square" role="button" style="position:absolute; top:230px; right:110px">Tag Cloud</a>

    </main>

{% endblock %}
