{% extends 'base.html.twig' %}

{% block title %}Welcome to home page!{% endblock %}

{% block body %}

    <main class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div role="main" class="inner cover">
                <h1 class="cover-heading">Enter your word:</h1>
                <p class="lead">Here must be a form.</p>
                <p class="lead">
                    <a href="{{ path('app_search', { query: 'cauldron' })}}" class="btn btn-lg btn-secondary">Search</a>
                </p>
            </div>
        </div>
    </main>

{% endblock %}
