{% extends 'base.html.twig' %}

{% block title %}Word search{% endblock %}

{% block body %}

    <main class="text-center">
        <article>
            <p>You word is "{{ query }}"</p>
        </article>
    </main>

{% endblock %}
