{% extends 'base.html.twig' %}

{% block title %}English Words Overflow: {{ word }}{% endblock %}

{% block body %}

    <main>


        <h1>Logic results:</h1>
        <ul>
            Your word: <span style="font-weight: bold">{{ word }}</span>
            <br>
            <span style="font-weight: bold">Definitions:</span>

            {% for definition in results.0.definitions %}
                <li>{{ definition }}</li>
            {% endfor %}

            <span style="font-weight: bold">Pronunciation:</span>
            <br>
            {% for pronunciation in results.0.pronunciations %}
                <audio controls>
                    <source src="{{ pronunciation }}" type="audio/mp3">
                </audio>
            {% endfor %}





        </ul>
    </main>

{% endblock %}
