{% extends 'base.html.twig' %}

{% block title %}Word search{% endblock %}

{% block body %}

    <main class="text-center">
        <article>
            <p>now I need to get the word, send a request, and parse the response</p>
        </article>
    </main>

{% endblock %}
