{{ include('template-parts/header.html.twig') }}
<main role="main" class="inner col-12 col-md-9 col-lg-6 cover m-auto d-flex flex-column justify-content-center">
    {% block body %}{% endblock %}
</main>
{{ include('template-parts/footer.html.twig') }}